@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --primary-font-family: "Karla", sans-serif;
  --primary-color: #003893;
  --secondary-color: #dc143c;
  --font-color: #212529;
  --bg-body: #fff;
  --divider-color: #e9e9e9;
  --white-color: #fff;
}

/* BASE CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: var(--primary-font-family);
  color: var(--font-color);
  background-color: var(--bg-body);
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  background: transparent;
}
p,
span,
i {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  border: none;
  outline: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;
  background: transparent;
}

/* notice modal  */

.npc__notice-container {
  max-width: 800px;
  width: 80%;
  margin-inline: auto;
  position: relative;
  padding: 2.1rem;
}

.notice-container {
  max-height: 600px;
  overflow-y: auto;
}

.npc__notice-img-container {
  width: 100%;
  height: auto;
}

.npc__notice-next {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.npc__notice-next > button {
  padding: 0.3rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.npc__notice-close {
  position: absolute;
  top: 4px;
  right: 0;
  display: none;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 0.1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
}
.npc__notice-close:hover {
  background-color: var(--secondary-color);
}

.npc__notice-close > span {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.1rem;

  color: var(--white-color);
}

.npc__notice-modal-container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

/* registration status modal  */
.reg-modal-container {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 999;
  background-color: var(--secondary-color);
  color: var(--white-color);
  transition: transform 300ms linear;
}

.reg-toggle-btn {
  transform: translateX(-100%);
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 1rem;
  height: 1.25rem;
  cursor: pointer;
}
.reg-toggle-btn span {
  font-size: 0.8rem;
}

.reg-p,
.reg-pa {
  padding: 0.25rem 0.5rem;
}

.reg-pa > span,
.reg-p > span {
  font-size: 0.6rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.reg-p {
  background-color: green;
}
.reg-pa {
  background-color: var(--primary-color);
}

.bar {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* semi-transparent black */
  z-index: 1; /* ensures the overlay is above other content */
}

/* HEADER CSS  */
/* top nav  */
.npc__header-top-nav {
  color: var(--primary-color);
  border-bottom: 1px solid #dee2e6;
  display: none;
}

.npc__header-container--fluid {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.npc__header-contact,
.npc__header-social {
  gap: 0.5rem;
}

.npc__contact-child:not(:first-child) {
  border-left: 2px solid var(--divider-color);
  padding-left: 0.5rem;
}

.npc__header-social-child:not(:first-child) {
  border-left: 1px solid var(--divider-color);
  padding-left: 0.5rem;
}

/* mid nav  */
.npc__container--fluid {
  max-width: 1300px;
  width: 95%;
  margin-inline: auto;
}

.npc__header-middle-nav {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.npc__header-mid-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.npc__logo-wrapper {
  width: 10rem;
}

.npc__nepal-flag {
  display: none;
}

.hamburger-icon,
.cross-icon {
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--font-color);
  background: transparent;
  cursor: pointer;
}

.cross-icon {
  display: none;
}

.npc__nepal-flag-wrapper {
  width: 3rem;
}

/* main nav  */
.npc__header-main-nav {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: none;
}

.npc__nav-btn {
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.95rem;
}
.npc__nav-btn:hover {
  background-color: rgba(220, 20, 60, 0.8);
}

.npc__show-dropdown:hover + .npc__dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.npc__dropdown-icon {
  font-size: 0.7rem;
}

.npc__dropdown {
  min-width: 200px;
  background-color: var(--white-color);
  z-index: 99;
  color: var(--font-color);
  transition: all 300ms ease-in;
  transform: translateY(20px);
  opacity: 0;
  box-shadow: 0 0 12px -2px #333;
}

.npc__dropdown:hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.npc__dropdown-links > a {
  padding: 0.6rem 0.5rem;
  font-size: 0.95rem;
}

.npc__dropdown-links > a:hover {
  background-color: var(--primary-color);
  color: white;
}

/* mobile nav  */
.npc__mob-nav {
  position: fixed;
  transform: translateX(-100%);
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 1.1rem;
  background-color: white;
  z-index: 1000;
  color: var(--primary-color);
  transition: transform 300ms ease-in-out;
}

.npc__mob-nav-link {
  padding: 0.4rem 0.5rem;
}

.npc__mob-nav-item,
.npc__mob-dropdown-item {
  text-transform: capitalize;
  width: 100%;
}

.npc__mob-nav-drop-item button {
  background: transparent;
}

.npc__mob-nav-drop-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.npc__mob-drop-right-icon,
.npc__mob-drop-down-icon {
  font-size: 0.8rem;
  margin-top: 3px;
}

.npc__mob-drop-down-icon {
  display: none;
}

.npc__mob-dropdown {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  height: 100%;
  overflow-y: auto;
}

.npc__mob-dropdown-links {
  display: flex;
  flex-direction: column;
}

.npc__mob-dropdown-item {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.npc__mob-dropdown-hide .npc__mob-dropdown {
  display: none;
}

.npc__mob-dropdown-icon .npc__mob-drop-down-icon {
  display: block;
}

.npc__mob-dropdown-icon .npc__mob-drop-right-icon {
  display: none;
}

/* news announcement  */
.npc__announcement-title {
  min-width: 4rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 1px;
  background-color: var(--secondary-color);
}

.npc__announcement-title > h2 {
  color: var(--white-color);
  font-weight: 700;
  font-size: 0.8rem;
}
.announcement__marquee-content {
  font-size: 0.9rem;
}
.announcement__marquee-content > .npc__news-date {
  color: var(--secondary-color);
}

.announcement__marquee {
  padding-left: 100%;
  animation: scroll 25s linear infinite;
}

.announcement__marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* hero  */
.npc__hero-wrapper {
  margin-top: 1rem;
}

.npc__quick-link {
  padding: 1.5rem 1rem;
  gap: 0.8rem;
  border: 2px solid #dee2e6;
}

.npc__quick-link:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.npc__quick-link-title {
  gap: 0.75rem;
}

.npc__quick-link-title > h2 {
  font-size: 1rem;
}

.npc__image-slider {
  height: 450px;
  overflow: hidden;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide-img {
  min-width: 100%;
  height: 450px;
}

.slide-img > img {
  object-position: center center;
}

.npc__member-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.npc__member-card {
  background-color: #f0f0f0;
  border-radius: 1px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  min-width: 160px;
  width: 100%;
}

.npc__member-position {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--primary-color);
}

.npc__member-dp {
  width: 8rem;
  height: 10rem;
  border-radius: 11px;
  margin-top: 0.25rem;
  border: 3px solid var(--white-color);
}

.npc__member-dp > img {
  object-position: center top;
  border-radius: 8px;
}

.npc__member-name {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* news */
.npc__news-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.npc__facebook-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.npc__facebook-iframe-container {
  max-width: 400px;
  width: 100%;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.npc__news-header {
  background-color: var(--primary-color);
}

.npc__news-heading > button {
  width: 150px;
  background-color: red;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 1px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.npc__news-item {
  border-bottom: 1px solid #a3a5a7;
  padding: 0.75rem 1rem;
}

.npc__news-item-left > span {
  margin-top: 0.75rem;
  color: var(--primary-color);
}

.npc__news-item-title {
  line-height: 1;
  font-size: 1.1rem;
}
.npc__news-item-right > p {
  font-size: 0.8rem;
  line-height: 1;
}

.npc__read-more-wrapper {
  margin-top: 0.5rem;
}

.npc__read-more,
.npc__about-read-more {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-transform: capitalize;
  text-align: center;
  border-radius: 0.2rem;
  width: 110px;
}

.npc__read-more > span,
.npc__about-read-more > span {
  font-size: 0.875rem;
  line-height: 1.5;
}

.npc__read-more-icon > i,
.npc__about-read-more-icon > i {
  font-size: 0.7rem;
}

/* about  */

.npc__about-container {
  margin-top: 2rem;
  flex-direction: column;
}

.npc__about-cover {
  padding-inline: 0.5rem;
}

.npc__about-img {
  height: 350px;
}

.npc__about-title {
  font-size: 2.5rem;
  line-height: 0.8;
  color: var(--primary-color);
  font-weight: 800;
}

.npc__about-description > p {
  margin-top: 1rem;
}

/* message  */
.npc__messages-container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.npc__messages-title {
  text-align: center;
  margin-bottom: 1rem;
}

.npc__messages-title > h2 {
  font-size: 3rem;
  line-height: 5rem;
  color: var(--primary-color);
  font-weight: 800;
}

.npc__messages-first-container {
  display: flex;
  flex-direction: column;
}

.npc__messages-second-container {
  display: flex;
  flex-direction: column;
}

.npc__msg-cover-1,
.npc__msg-cover-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.npc__messages-cover-img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.npc__messages-cover-img > img {
  border-radius: 8px;
  object-position: center top;
}

.npc__message-author {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.npc__message-author-position {
  font-size: 0.8rem;
  font-weight: 700;
}

/* chairman */

.npc__craousel-container {
  max-width: 900px;
  width: 90%;
  margin-inline: auto;
  overflow: hidden;
}

.npc__chairman-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 0.75rem;
}

.npc__craousel {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.npc__craousel-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

.npc__craousel-navigation > span {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.npc__craousel-navigation {
  display: none;
}

.npc__craousel-next {
  right: 0;
}

.npc__craousel-prev {
  left: 0;
}

.npc__card {
  min-width: 100%;
  height: 400px;
  position: relative;
  border-radius: 8px;
}

.npc__card-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.npc__card-img > img {
  object-position: center top;
  border-radius: 8px;
  /* filter: brightness(80%); */
}

.npc__card-description {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.npc__card-description {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  line-height: 1;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7);
}

.npc__card-description > h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.npc__card-description > p {
  font-size: 0.9rem;
  font-weight: 600;
}

/* footer  */

footer {
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.footer__logo-img {
  width: 12rem;
  height: 4rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.npc__footer-content-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.npc__footer-main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.npc__footer-main-content-left,
.npc__footer-main-content-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.copyright-separator {
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}

.npc__footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.npc__footer-quick-links > h3,
.npc__footer-links > h3,
.npc__footer-connect-container > h3 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.npc__footer-quick-links-container > a,
.npc__footer-links-container {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.footer__copyright-content {
  text-align: center;
}

.npc__copyright {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}

/* UTILITY CLASS */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.5rem;
}
.gap-10 {
  gap: 3rem;
}

.px-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-2 {
  padding-left: 3%;
  padding-right: 3%;
}

.px-3 {
  padding-inline: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.border {
  border: 1px solid red;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.transparent {
  background: transparent;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-full {
  top: 100%;
}

.left-0 {
  left: 0;
}

.inset-0 {
  inset: 0;
}

.invisible {
  visibility: hidden;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.flex-1 {
  flex: 1 1 0%;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-npc {
  margin-top: 2.5rem;
}

/* blink key frame  */

.blinking-element {
  background-color: var(--primary-color);
  color: var(--white-color);
  animation: blink 1.5s infinite;
}

.blinking-element:hover {
  animation: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  color: red;
  animation: blink 1s infinite;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.npc_cpd_content_wrapper {
  padding: 20px;
  margin: auto;
}

.npc_cpd_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.npc_cpd_card {
  flex: 0 1 calc(25% - 15px);
  min-width: 200px;
  background-color: var(--member-card-background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--content-box-shadow);
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.npc_cpd_card:hover {
  transform: translateY(-5px);
}

.npc_cpd_card img {
  width: 100%;
  height: 300px;
  object-position: center top;
}

.npc_cpd_card h3 {
  padding: 15px;
  color: var(--text-black-color);
  margin: 0;
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.npc_pdf_preview_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.npc_pdf_preview_container {
  width: 90%;
  height: 90%;
  background-color: var(--white-color);
  border-radius: 8px;
  position: relative;
}

.npc_close_pdf_preview {
  position: absolute;
  top: 12px;
  right: 10px;
  color: var(--blue-color);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.npc_close_pdf_preview:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.npc_pdf_preview_container embed {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .npc_regulation_card {
    flex: 0 1 calc(33% - 20px);
  }
}
@media (max-width: 768px) {
  .npc_cpd_card {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .npc_cpd_card {
    flex: 0 1 100%;
  }
}

.npc_syllabus_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.npc_syllabus {
  font-family: Arial, sans-serif;
}

.npc_syllabus_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--blue-color);
}

.npc_syllabus_card {
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--content-box-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.npc_syllabus_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: var(--text-dark-black-color);
  border: 1px solid var(--text-black-color);
  border-radius: 8px;
}

.npc_syllabus_item_title {
  font-size: 16px;
  font-weight: bold;
}

.npc_syllabus_download_button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.npc_syllabus_download_button:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

@media (max-width: 768px) {
  .npc_syllabus_wrapper {
    padding: 10px;
  }

  .npc_syllabus_title {
    font-size: 20px;
  }

  .npc_syllabus_item {
    flex-direction: column;
    align-items: flex-start;
  }

  .npc_syllabus_download_button {
    margin-top: 10px;
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .npc_syllabus_title {
    font-size: 18px;
  }

  .npc_syllabus_item_title {
    font-size: 14px;
  }

  .npc_syllabus_download_button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

.npc__login {
  min-height: 100vh;
}

.npc__login-form {
  width: 50%;
}

.npc__logo {
  width: 12rem;
  margin-bottom: 1.5rem;
}

.npc__form-title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--primary-color);
  margin-bottom: 4.5rem;
}

.npc__form-input {
  width: 280px;
}

.npc__input-container {
  position: relative;
}

.npc__input-container > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}

.npc__form-input > label {
  font-size: 0.9rem;
}

.npc__input-container > input {
  padding: 0.6rem 2rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dee2e6;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
  width: 100%;
}

.npc__input-container > input::placeholder {
  font-size: 0.8rem;
  line-height: 1rem;
}

.npc__form-login-btn {
  width: 280px;
  background-color: var(--primary-color);
  padding: 0.6rem 2rem;
  color: var(--white-color);
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.npc__form-login-btn:hover {
  background-color: rgba(0, 56, 147, 0.9);
}

.npc__cover-img {
  /* background: rgb(0, 56, 147);
    background: -moz-linear-gradient(
      0deg,
      rgba(0, 56, 147, 1) 0%,
      rgba(220, 20, 60, 1) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(0, 56, 147, 1) 0%,
      rgba(220, 20, 60, 1) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(0, 56, 147, 1) 0%,
      rgba(220, 20, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003893",endColorstr="#dc143c",GradientType=1); */
  border-top-left-radius: 100px;
  background-color: #dee2e6;
  flex: 1;
  min-height: 100vh;
}

.npc__login-nepal-flag {
  transform: translateX(4rem);
  width: 300px;
  height: 400px;
}

.npc_contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Common Styles for Medium and Large Screens */
.npc_contact_left h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--blue-color);
}

.npc_contact_left p {
  margin: 5px 0;
  color: var(--text-black-color);
}

.npc_contact_left a {
  color: var(--blue-color);
  text-decoration: none;
}

.npc_contact_left a:hover {
  text-decoration: underline;
}

.npc_contact_right iframe {
  border: 0;
  width: 100%;
  height: 350px;
}

/* Styles for Medium and Large Screens */
@media (min-width: 768px) {
  .npc_contact {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .npc_contact_left {
    flex: 1;
  }

  .npc_contact_right {
    flex: 1;
  }

  .npc_contact_left h1 {
    font-size: 28px;
  }

  .npc_contact_right iframe {
    height: 400px;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .npc_contact_wrapper {
    padding: 15px;
  }

  .npc_contact_left h1 {
    font-size: 20px;
  }

  .npc_contact_left p {
    font-size: 14px;
  }

  .npc_contact_right iframe {
    height: 250px;
  }
}

.react-breadcrumbs .breadcrumbs-wrap {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.react-breadcrumbs .breadcrumbs-wrap .container {
  position: relative;
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text {
  text-align: center;
}

.react-breadcrumbs
  .breadcrumbs-wrap
  .breadcrumbs-inner
  .breadcrumbs-text
  .breadcrumbs-title {
  width: 100%;
  font-size: 40px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 15px;
}

.react-breadcrumbs
  .breadcrumbs-wrap
  .breadcrumbs-inner
  .breadcrumbs-text
  .back-nav
  ul
  li {
  display: inline;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.react-breadcrumbs
  .breadcrumbs-wrap
  .breadcrumbs-inner
  .breadcrumbs-text
  .back-nav
  ul
  li
  a {
  color: #fff;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

select {
  width: 100% !important;
  padding: 10px !important;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

input:focus,
select:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 86, 179, 0.2);
}

.qualification-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.qualification-table th {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.qualification-table td {
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.qualification-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.qualification-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.qualification-table input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.qualification-table input[type="text"]:focus {
  border-color: #d71a47;
  outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .table-heading {
    font-size: 18px;
  }

  .qualification-table thead {
    display: none;
  }

  .qualification-table tbody,
  .qualification-table tr,
  .qualification-table td {
    display: block;
    width: 100%;
  }

  .qualification-table td {
    padding: 10px;
    text-align: right;
    position: relative;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .qualification-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
  }

  .qualification-table td[data-label="Remarks"] {
    border-bottom: none;
  }

  .qualification-table input[type="text"] {
    margin-top: 5px;
  }
}

/* Document Grid */
.document-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust column size */
  gap: 20px;
  justify-items: center;
}

.document-item {
  /* text-align: center; */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #fafafa;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* .document-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
} */

.document-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.document-item p {
  font-size: 14px;
  margin: 0 0 10px;
}

.document-item input[type="file"] {
  font-size: 14px;
  padding: 5px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .document-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    gap: 15px; /* Reduce gap for smaller screens */
  }

  .document-item img {
    width: 70px;
    height: 70px;
  }

  .document-item p {
    font-size: 13px;
  }

  .document-item input[type="file"] {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .document-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column on smaller tablets */
  }

  .document-item img {
    width: 60px;
    height: 60px;
  }

  .document-item p {
    font-size: 12px;
  }

  .document-item input[type="file"] {
    font-size: 11px;
  }
}

.radio-input {
  appearance: none !important;
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #d1d5db; /* Gray-300 */
  border-radius: 50%; /* Makes it rounded */
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#newButtonContainer a {
  animation: blink 1s linear infinite;
}

.text-red-500 {
  color: red;
}

.success {
  background-color: lightgreen;
  padding: 10px;
}
